#introducing {
	scroll-margin-top: 80px;
	background: var(--main-font-color2);
	padding-bottom: 92px;

		p {
				font-size: 32px;
				font-weight: 400;
				margin-right: 54px;
			}
		:last-child {
			margin-bottom: 0;
		}
	h2 {
		font-size: 64px;
		padding-top: 48px;
		margin: 0;
		color:var(--main-font-color1);
		text-align: center;
	}
	#logo2 {
		img {
			float: left;
			margin-right: 48px;
		}
		:nth-child(2){
			margin-top: 16px;
		}
	}
	
}